.DS_Store
.cache
.env
.env_*
.env.*
!.env.test
# cspell:disable-next-line
.eslintcache
.idea
.npm/
# cspell:disable-next-line
.nvmrc
*.tgz
.vscode/**/*
!.vscode/settings.json
npm-debug.log
coverage
node_modules
*.cer
*.key
*.csr
*.crt