services:
  kits-mock:
    image: defradigital/fcp-dal-upstream-mock
    ports:
      - '3100:3100'
    environment:
      MOCK_LOG_LEVEL: info
      MOCK_SERVER_COLLECTION: all
      NODE_ENV: development
      PORT: 3100
    networks:
      - cdp-tenant

  fcp-dal-api:
    image: fcp-dal-api
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      ALL_SCHEMA_ON: true
      LOG_LEVEL: info
      NODE_ENV: development
      PORT: 3000
      ENVIRONMENT: dev
      DISABLE_AUTH: true
      RP_KITS_GATEWAY_INTERNAL_URL: http://kits-mock:3100/v1/
      GRAPHQL_DASHBOARD_ENABLED: true
    networks:
      - cdp-tenant

################################################################################

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
