services:
  mongodb:
    image: mongo:4.4.29
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    restart: always

  kits-mock:
    image: defradigital/fcp-dal-upstream-mock
    ports:
      - '3100:3100'
    environment:
      MOCK_LOG_LEVEL: info
      MOCK_SERVER_COLLECTION: all
      NODE_ENV: development
      PORT: 3100
    networks:
      - cdp-tenant

  fcp-dal-api:
    build:
      context: .
    ports:
      - '3000:3000'
    environment:
      ALL_SCHEMA_ON: true
      LOG_LEVEL: info
      NODE_ENV: development
      PORT: 3000
      ENVIRONMENT: dev
      DISABLE_AUTH: true
      DISABLE_PROXY: true
      GRAPHQL_DASHBOARD_ENABLED: true
      ADMIN_AD_GROUP_ID: unused
      KITS_INT_GATEWAY_URL: http://kits-mock:3100/extapi/
      KITS_EXT_GATEWAY_URL: http://kits-mock:3100/extapi/
      KITS_GATEWAY_TIMEOUT_MS: 3000
      KITS_DISABLE_MTLS: true
      DAL_REQUEST_TIMEOUT_MS: 3000
      KIT_EXT_PERSON_ID_OVERRIDE: 3337243
      MONGO_URI: mongodb://mongodb:27017
      MONGO_DATABASE: 'fcp-dal'

    networks:
      - cdp-tenant

################################################################################

networks:
  cdp-tenant:
    driver: bridge
    name: cdp-tenant
